.first {
  margin-top: 2em;
}

.text-entries {
  color: #ff5757;
  background-color: transparent;
  text-align: center;
  min-width: 60%;
  cursor: pointer;
  display: block;
  border: 2px solid #ff5757;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
}

.text-entries:focus {
  color: white;
  background-color: transparent;
  text-align: center;
  border: 2px solid #ff5757;
  box-shadow: 0px 0px 2px 2px #ff7979;
}

.added-item {
  border-radius: 50px;
}

.album {
  border: 2px solid #ff5757;
  text-align: center;
}